---
import Layout, { type SEOProps } from '~/layouts/Layout.astro'
import EditionsHero from '~/components/EditionsHero.astro'
import MagazineIssues from '~/components/MagazineIssues.astro'
import MagazinePreview from '~/components/MagazinePreview.astro'

const seo: SEOProps = {
  title: 'Nomad Magazine Editions - Digital Nomad Publications',
  description:
    'Explore all editions of Nomad Gossip Magazine. Discover inspiring stories, tips, and insights from digital nomads around the world. Available in print and digital formats.',
  image: `${Astro.site}images/041ff422-b910-402f-9fd9-33e20d30055e.webp`,
  keywords: 'nomad magazine editions, digital nomad publications, nomad gossip magazine, nomad stories, remote work magazine',
  ogType: 'website',
  ldJSON: {
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    name: 'Nomad Magazine Editions',
    description: 'All editions of Nomad Gossip Magazine',
    url: `${Astro.site}editions`,
    publisher: {
      '@type': 'Organization',
      name: 'Nomad Magazine',
      logo: {
        '@type': 'ImageObject',
        url: `${Astro.site}logo.svg`,
      },
    },
  },
}
---

<Layout seo={seo}>
  <main class="bg-hoverw text-white">
    <EditionsHero />
    <MagazineIssues />
    <MagazinePreview />
  </main>
</Layout>
