---
import Layout from '../layouts/Layout.astro'
import EditionsHero from '~/components/EditionsHero.astro'
import MagazineIssues from '~/components/MagazineIssues.astro'
import MagazinePreview from '~/components/MagazinePreview.astro'
---

<Layout title="The Magazine | Nomad">
  <main class="bg-hoverw text-white">
    <EditionsHero />
    <MagazineIssues />
    <MagazinePreview />
  </main>
</Layout>
