---
import Layout from '~/layouts/Layout.astro'
import { fetchReportRecords } from '~/utils/smartsuite'
import NomadDirectoryCard from '~/components/NomadDirectoryCard.astro'
import ListYourProjectFooter from '~/components/ListYourProjectFooter.astro'
import MaterialSymbolsElectricBolt from '~icons/material-symbols/electric-bolt'

const { records = [] } = await fetchReportRecords('6857167d82358a0f5e038c3f')
---

<Layout title="Nomad Directory">
  <section class="bg-hoverw flex w-full flex-col items-center py-16">
    <div class="mx-auto w-full max-w-4xl px-4 text-center">
      <h1 class="mb-6 text-4xl leading-tight font-bold text-white sm:text-5xl md:text-6xl">
        <span>The </span>
        <span class="text-yellow-400">Nomad Directory</span>
        <br />
        Because Google Doesn't Get Our Lifestyle
      </h1>
      <p class="mb-8 text-lg font-medium text-gray-200 sm:text-xl">
        We're building the ultimate Nomad Directory, gathering the best services, communities, and organizations that support digital nomads. Your company can be part of it! Join
        us in shaping the go-to resource for remote workers worldwide.
      </p>
      <a
        target="_blank"
        href="https://form.smartsuite.com/s4tmc086/8sFlvrVlDC"
        class="inline-flex items-center gap-2 rounded-xl bg-yellow-400 px-8 py-4 text-lg font-bold text-black shadow transition-colors hover:bg-yellow-300"
      >
        <MaterialSymbolsElectricBolt width="20" height="20" />
        List Your Project
      </a>
    </div>
    <div id="directory-container" class="container mt-12 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {records.filter((i) => i.sf4ad525dd).map((record) => <NomadDirectoryCard {...record} />)}
    </div>
    <ListYourProjectFooter href="https://form.smartsuite.com/s4tmc086/8sFlvrVlDC" />
  </section>
</Layout>
