---
import Layout from '../layouts/Layout.astro'
import StoryIntro from '~/components/StoryIntro.astro'
import LikeProject from '~/components/LikeProject.astro'
import OurStoryHero from '~/components/OurStoryHero.astro'
import StoryTimeline from '~/components/StoryTimeline.astro'
---

<Layout title="Our Story | Nomad">
  <main>
    <OurStoryHero />
    <StoryIntro />
    <StoryTimeline />
    <LikeProject />
  </main>
</Layout>
