<section id="Media_kit" class="py-64">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 items-center gap-8 md:grid-cols-2">
      <div class="text-left">
        <h2 class="mb-6 text-6xl font-bold text-white md:text-7xl">Brand Placement</h2>
        <p class="my-12 mr-8 text-2xl">
          Reach remote work & digital nomad audience. Your brand will be seen in major digital nomad events and +100 coworking spaces & colivings in Europe. Our audience is active
          people who strive for freedom and independence, like to travel and work remotely. If you want to attract the attention of such people, showing your brand on our pages is
          a great way to achieve this goal. Don't miss the opportunity to expand your business and attract new customers with nomad magazine!
        </p>
        <a href="https://calendly.com/nomadgossip" class="bg-white px-6 py-3 text-lg font-bold text-black"> Book a call </a>
      </div>
      <div>
        <img src="/images/c130ebce-d432-4e72-bb92-aee662c69777.webp" alt="Nomad Magazine brand placement" class="rounded-lg shadow-lg" loading="lazy" width="600" height="400" />
      </div>
    </div>
  </div>
</section>
