<div class="bg-[#f8f8f8] py-12">
  <div class="mx-auto max-w-7xl px-4">
    <div class="text-left text-3xl font-medium md:text-4xl">
      We're here to help! Contact us at
      <a href="mailto:hey@nomadgossip.com" class="underline">hey@nomadgossip.com</a>, and we'll gladly assist you
    </div>
  </div>
</div>
