---
const links = [
  {
    text: 'Issues',
    url: '#order',
    imageUrl: '/underline.svg',
  },
  {
    text: 'Testimonials',
    url: '/#Testimonials',
    imageUrl: '/images/link_hover.svg',
  },
  {
    text: 'About',
    url: '#About',
    imageUrl: '/underline.svg',
  },
  {
    text: 'Nomad Directory',
    url: '/nomad_directory',
    imageUrl: '/images/link_hover_long.svg',
  },
  {
    text: 'Newsletter',
    url: '/newsletter',
    imageUrl: '/images/link_hover.svg',
  },
  {
    text: 'Events',
    url: '/nomad-events',
    imageUrl: '/images/5e85532e-de5b-41e7-8d55-2990e9daf3ed.svg',
  },
  {
    text: 'Distribution',
    url: '/distribution-list',
    imageUrl: '/underline.svg',
  },
  {
    text: 'Support Us',
    url: '/support-the-magazine',
    imageUrl: '/images/link_hover.svg',
  },
  {
    text: 'Blog',
    url: '/blog',
    imageUrl: '/images/link_hover_tiny.svg',
  },
  {
    text: 'Free Articles',
    url: '/free-weekly-articles',
    imageUrl: '/images/link_hover.svg',
  },
]
---

<div animate-fade-in-up class="mx-auto px-4 py-8 opacity-0">
  <div class="flex flex-wrap justify-center gap-x-8 gap-y-4">
    {
      links.map((link) => (
        <a href={link.url} class="group relative inline-block">
          <span class="font-justme text-4xl">{link.text}</span>
          <img src={link.imageUrl} alt="" class="absolute bottom-[-20px] left-0 hidden w-full group-hover:block" loading="lazy" />
        </a>
      ))
    }
  </div>
</div>
