<section animate-fade-in-up id="Involved" class="py-64 opacity-0">
  <div class="container mx-auto px-4">
    <h2 class="mb-16 text-5xl font-semibold">Get involved</h2>
    <div class="grid grid-cols-1 gap-8 text-left md:grid-cols-3">
      <!-- Business Owners -->
      <div class="note-card">
        <div class="mb-4">
          <h3 class="font-justme mb-4 text-3xl">Business Owners</h3>
          <p class="text-gray-700">
            Got a product that's perfect for digital nomads? From <a href="/blog/remote-ready-travel-gear-every-digital-nomad-needs-in-2025" class="text-gray-600 hover:text-gray-800">tech</a> to <a href="/blog/wander-in-style-the-ultimate-guide-to-travel-fashion-trends" class="text-gray-600 hover:text-gray-800">clothing</a> and supplements to <a href="/blog/best-luggage-brands-for-organized-nomads" class="text-gray-600 hover:text-gray-800">travel accessories</a>, we want to test-drive your products, review them and
            promote them to the world.
          </p>
        </div>
        <a target="_blank" href="https://calendly.com/nomadgossip" class="mt-auto font-bold text-black underline">Book a Call</a>
      </div>
      <!-- Writers and DN experts -->
      <div class="note-card">
        <div class="mb-4">
          <h3 class="font-justme mb-4 text-3xl">Writers and DN experts</h3>
          <p class="text-gray-700">
            Aspiring writers and DM experts wanted! Share your thoughts on <a href="/blog/10-tips-to-avoid-digital-nomad-burnout" class="text-gray-600 hover:text-gray-800">nomad burnout</a>, <a href="/blog/how-to-set-up-a-virtual-mailbox-a-guide-for-nomads" class="text-gray-600 hover:text-gray-800">practical tips</a>, or <a href="/blog/how-to-find-cheap-flights-for-remote-workers" class="text-gray-600 hover:text-gray-800">travel hacks</a> that make nomad life easier.
          </p>
        </div>
        <a target="_blank" href="https://form.smartsuite.com/s4tmc086/KqIoDVRd09" class="mt-auto font-bold text-black underline">Pitch Your Story</a>
      </div>
      <!-- Partnerships -->
      <div class="note-card">
        <div class="mb-4">
          <h3 class="font-justme mb-4 text-3xl">Partnerships</h3>
          <p class="text-gray-700">
            Together, we can co-create something extraordinary that resonates with the global nomadic community. Let's make magic happen through meaningful partnerships!
          </p>
        </div>
        <a target="_blank" href="https://calendly.com/nomadgossip" class="mt-auto font-bold text-black underline">Book a Call</a>
      </div>
    </div>
    <div class="mt-20">
      <h3 class="text-3xl font-bold">Spotted yourself above?</h3>
      <p class="mt-4 text-3xl font-bold">
        <a href="/editions" class="underline">Support indie publishing, buy your digital copy today.</a>
      </p>
      <p class="mt-4 text-3xl font-bold">
        Text us to collaborate! <a href="mailto:hey@nomadgossip.com" class="underline">hey@nomadgossip.com</a>
      </p>
      <div class="mt-8">
        <p class="text-lg text-gray-700">
          Want to stay updated? <a href="/newsletter" class="text-gray-600 hover:text-gray-800">Subscribe to our newsletter</a> or check out our <a href="/blog" class="text-gray-600 hover:text-gray-800">latest articles</a> for insights on the nomadic lifestyle.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .note-card {
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
    background-image: url('/images/9ad724c1-3e6b-4b52-9ebf-af903ee1d0ec.webp');
  }
</style>
