---
const imageUrl = 'https://cdn.prod.website-files.com/64ec95e0eddd7b775369e9e7/64ecdbd9dd77c0a6f7f764e2_Frame%201321317537%20(1).webp'
---

<section class="py-20">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 items-center gap-16 md:grid-cols-2">
      <!-- Image -->
      <div class="order-1 flex flex-col items-center">
        <img
          src={imageUrl}
          alt="Woman with binoculars looking out over a road, representing the growing digital nomad community"
          class="w-[500px] -rotate-5"
          loading="lazy"
          decoding="async"
        />
      </div>
      <!-- Text -->
      <div class="order-2 space-y-6 text-center md:text-left">
        <h2 class="text-5xl leading-tight font-bold lg:text-6xl">Growing Digital Nomad Community</h2>
        <p class="text-lg text-neutral-400">
          Just a decade ago, even the notion of aspiring to become a digital nomad was bizarre, and we, the pioneers of digital nomadism, were a rare breed, huddled in the confines
          of co-working spaces. Today, we roam the globe proudly, constantly growing our community with millions of digital nomads around the world! If you've chosen to embrace
          living as a nomad, you'll find a home wherever you plant your laptop.
        </p>
      </div>
    </div>
  </div>
</section>
