---
import InstagramIcon from '~icons/mdi/instagram'
import MdiLightEmail from '~icons/mdi-light/email'
---

<section class="like-project-section bg-gray-50 px-4 py-20 text-center text-gray-900 md:px-8">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold md:text-4xl">Like this project?</h2>
    <p class="mt-4 text-lg font-semibold">Stay in the loop for future of NGM</p>
    <p class="mx-auto mt-4 max-w-2xl text-gray-600">Subscribe to our mailing list and give us a follow on Instagram to keep up to date on the latest nomad-related updates.</p>
    <div class="mt-8 flex items-center justify-center gap-4">
      <a href="/newsletter" class="text-md flex items-center gap-2 rounded-lg bg-black px-4 py-3 font-bold text-white">
        <MdiLightEmail class="h-6 w-6" />
        <span>SUBSCRIBE</span>
      </a>
      <a
        target="_blank"
        href="https://www.instagram.com/nomadmagazinecom"
        class="text-md flex items-center gap-2 rounded-lg border border-black bg-white px-4 py-3 font-bold text-black"
      >
        <InstagramIcon class="h-6 w-6" />
        <span>FOLLOW US</span>
      </a>
    </div>
  </div>
</section>
