---
interface Props {
  text: string
}

const { text }: Props = Astro.props
---

<div class="bg-hoverw w-full py-3 text-center">
  <span class="text-sm font-semibold text-yellow-400">{text}</span>
</div>
