---
const { subTitle = '100-page masterpiece', subTitleClass, title = 'Preview', titleClass, sectionClass } = Astro.props

const previewImages = [
  { src: '/images/13ee7cb1-95cb-4a73-961c-6b585a9e37cb.webp', alt: 'Magazine spread 1' },
  { src: '/images/c34a6729-0b6c-4dda-9b98-6f4d1d0872e9.webp', alt: 'Magazine spread 2' },
  { src: '/images/d4be4a05-be64-4591-b8e2-0c8b0a02c80f.webp', alt: 'Magazine spread 3' },
  { src: '/images/a7adb179-3f55-47a4-9bbd-9a60b6f06ef0.webp', alt: 'Magazine spread 4' },
  { src: '/images/2d10470e-57b6-488c-a743-b6bd719390b8.webp', alt: 'Magazine spread 5' },
  { src: '/images/563db0ac-bd84-4191-8b77-d9dce6671917.webp', alt: 'Magazine spread 6' },
]
---

<section class:list={['px-4 py-20 md:px-8', sectionClass]}>
  <div class="mb-12 text-center">
    <h2 class:list={['text-lg font-semibold text-yellow-400', subTitleClass]}>{subTitle}</h2>
    <h3 class:list={['text-4xl font-bold md:text-5xl', titleClass]}>{title}</h3>
  </div>
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
    {
      previewImages.map((image) => (
        <a href="/editions" class="aspect-square cursor-pointer">
          <img src={image.src} alt={image.alt} class="h-full w-full rounded-lg object-cover" />
        </a>
      ))
    }
  </div>
</section>
