---
const { subTitle = '100-page masterpiece', subTitleClass, title = 'Preview', titleClass, sectionClass } = Astro.props

const previewImages = [
  { src: '/images/edition-002-multiple-magazine-spreads.webp', alt: 'Magazine spread 1' },
  { src: '/images/preview_first_edition-spread-2.webp', alt: 'Magazine spread 2' },
  { src: '/images/preview_first_edition-spread-3.webp', alt: 'Magazine spread 3' },
  { src: '/images/preview_first_edition-spread-4.webp', alt: 'Magazine spread 4' },
  { src: '/images/preview_first_edition-article-marina-iakovleva.webp', alt: 'Magazine spread 5' },
  { src: '/images/preview_first_edition-spread-5.webp', alt: 'Magazine spread 6' },
]
---

<section class:list={['px-4 py-20 md:px-8', sectionClass]}>
  <div class="mb-12 text-center">
    <h2 class:list={['text-lg font-semibold text-yellow-400', subTitleClass]}>{subTitle}</h2>
    <h3 class:list={['text-4xl font-bold md:text-5xl', titleClass]}>{title}</h3>
  </div>
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
    {
      previewImages.map((image) => (
        <a href="/editions" class="aspect-square cursor-pointer">
          <img src={image.src} alt={image.alt} class="h-full w-full rounded-lg object-cover" />
        </a>
      ))
    }
  </div>
</section>
