<section class="relative overflow-hidden py-24">
  <div class="relative z-10 container mx-auto px-4 text-center">
    <p class="font-justme mb-6 text-4xl">Our mission</p>
    <h2 class="mx-auto max-w-4xl text-5xl leading-tight font-bold md:text-6xl">
      New type of travel magazine.
      <br />
      The voice of the global digital nomad community.
    </h2>
  </div>
  <!-- Decorative Dots -->
  <div class="absolute top-8 right-8 flex flex-col items-center space-y-3 md:top-20 md:right-20">
    <div class="flex space-x-3">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dot -mr-12"></div>
  </div>
  <div class="absolute bottom-0 left-8 flex flex-col items-center space-y-3 md:bottom-20 md:left-20">
    <div class="dot -ml-12"></div>
    <div class="flex space-x-3">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</section>
