<section class="relative overflow-hidden min-h-screen flex items-center justify-center">
  <div class="relative z-10 container mx-auto px-4 text-center">
    <p class="font-justme mb-8 text-6xl">Our mission</p>
    <h2 class="mx-auto max-w-6xl text-5xl leading-tight font-bold md:text-7xl">
      New type of travel magazine.
      <br />
      The voice of the global digital nomad community.
    </h2>
  </div>
  <!-- Decorative Dots -->
  <div class="absolute top-16 right-16 flex flex-col items-center space-y-4 md:top-42 md:right-42">
    <div class="flex space-x-4">
      <div class="dot bg-black rounded-full"></div>
      <div class="dot bg-black rounded-full"></div>
    </div>
    <div class="dot bg-black rounded-full -mr-16"></div>
  </div>
  <div class="absolute bottom-16 left-16 flex flex-col items-center space-y-4 md:bottom-42 md:left-42">
    <div class="dot bg-black rounded-full -ml-16"></div>
    <div class="flex space-x-4">
      <div class="dot bg-black rounded-full"></div>
      <div class="dot bg-black rounded-full"></div>
    </div>
  </div>
</section>
