---
const partners = [
  { name: 'Mapmelon', url: 'https://www.mapmelon.com/', logo: '/images/40a04744-969e-42cf-8d25-39369b4d1bdc.webp' },
  { name: 'Outsite', url: 'https://www.outsite.co/', logo: '/images/c135132c-74e3-438b-8260-8b1592e7a48f.svg' },
  { name: 'Nomad Train', url: 'https://nomadtrain.co/', logo: '/images/a3a85544-ef2c-4771-b79d-f56fbb04acfc.svg' },
  { name: 'Nomadwise.io', url: 'https://www.nomadwise.io/', logo: '/images/675fa457-b5bb-4ffe-8d89-cf8bd1578814.webp' },
  { name: 'Rent Remote', url: 'https://rentremote.com/', logo: '/images/1450321d-8f31-44b2-9d99-0f9e4c320004.webp' },
  {
    name: 'Nomad Cruise',
    url: 'https://www.nomadcruise.com/?ref=7432&utm_source=aff',
    logo: 'https://cdn.prod.website-files.com/64ec95e0eddd7b775369e9e7/680cd9d7102eb7be1a0135eb_md2x%20(1).webp',
  },
  {
    name: 'Pangea',
    url: 'https://www.thepangea.app/',
    logo: 'https://cdn.prod.website-files.com/64ec95e0eddd7b775369e9e7/680cdb518b6b294be627612e_6734b2257e5dcfce425d263c_Pangea_Logo%20(1).webp',
  },
  {
    name: 'The Nomad World',
    url: 'https://thenomadworld.org/',
    logo: '/partners/nomad-world.png',
  },
  { name: 'Madeira Friends', url: 'https://madeirafriends.org/', logo: '/images/86517cfb-8835-4f59-bee7-c2ef032c14ca.webp' },
  { name: 'Betahaus', url: 'https://www.betahaus.com/', logo: '/images/a52b6ee1-4f6b-4346-ba64-b26b45230c64.webp' },
]
---

<section class="py-20">
  <div class="container mx-auto px-4 text-center">
    <h2 class="mb-16 text-5xl font-bold">Our Partners</h2>
    <div class="grid grid-cols-2 items-center justify-items-center gap-x-8 gap-y-12 md:grid-cols-3 lg:grid-cols-4">
      {
        partners.map((partner) => (
          <a href={partner.url} target="_blank" rel="noopener noreferrer" class="flex items-center justify-center">
            <img
              src={partner.logo}
              alt={`${partner.name} logo`}
              class="h-12 min-h-[48px] w-auto max-w-[150px] min-w-[100px] object-contain grayscale transition duration-300 hover:grayscale-0"
            />
          </a>
        ))
      }
    </div>
  </div>
</section>
