---
import EditionCard from './EditionCard.astro'

const editions = [
  {
    title: 'Second Edition',
    imageUrl: '/images/edition-002-cover.webp',
    storeUrl: 'https://brot.sk/products/nomad-gossip-magazine-2?_pos=3&_psq=nomad&_ss=e&_v=1.0',
    storeText: 'Print also available to order at Brot.sk store!',
    buttons: [
      {
        text: 'Buy Now',
        url: '/editions/second-edition',
        primary: false,
      },
      {
        text: 'Download Sample',
        url: '/free-weekly-articles',
        primary: false,
      },
    ],
  },
  {
    title: 'First Edition',
    imageUrl: '/images/14befc54-828c-44dd-9086-1b18f8ee937c.webp',
    storeUrl: 'https://brot.sk/products/nomad-gossip-magazine-1?_pos=3&_psq=nomad&_ss=e&_v=1.0',
    storeText: 'Print also available to order at Brot.sk store!',
    buttons: [
      {
        text: 'Buy Now',
        url: '/editions/first-edition',
        primary: false,
      },
      {
        text: 'Download Sample',
        url: '/free-article-what-not-to-do-on-first-date',
        primary: false,
      },
    ],
  },
]
---

<section class="py-20">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 items-start gap-16 md:grid-cols-2">
      {editions.map((edition) => <EditionCard {...edition} />)}
    </div>
  </div>
</section>
