---
const { formClass, tag } = Astro.props
---

<section class="space-y-4">
  <form action="https://track.bentonow.com/forms/1685a00cdc1fc329724616bec1de09c6/$subscribe?hardened=true" method="POST" enctype="multipart/form-data" target="_blank" class:list={['flex flex-col items-stretch gap-3 sm:flex-row sm:items-center sm:gap-2', formClass]}>
    <input
      required
      type="email"
      name="email"
      placeholder="Enter your email"
      class="flex-1 rounded-lg border border-gray-300 px-4 py-3 text-lg focus:border-transparent focus:ring-2 focus:ring-yellow-400 focus:outline-none"
    />
    <input type="hidden" name="redirect" value="https://nomad-magazine.com/thank-you" />
    <button
      type="submit"
      class="w-full rounded-lg bg-yellow-400 px-8 py-3 text-lg font-semibold whitespace-nowrap text-black transition-all duration-200 hover:bg-yellow-500 sm:w-auto"
    >
      Subscribe
    </button>
  </form>
  <p class="font-semibold text-gray-600">Join now and be part of something bigger—your nomad family is waiting!</p>
</section>
